@import 'nib'

default-color = #3c3b3b

body
	min-height 10rem
	padding-top 4rem
	@media(max-width: 768px)
		padding-top 3rem
	font-family 'Maven Pro', sans-serif
	color default-color

a
	color default-color
	text-decoration underline

h1
	color default-color
h2
	color default-color
p
	color default-color

.navbar
	background-color: #ffffff
	padding 1rem 2rem
	@media(max-width: 768px)
		padding 0.5rem 1rem

.logo
	width 42px
	@media(max-width: 768px)
		width 30px

#butterfly
	position absolute
	left -5rem
	img
		width 5rem
		@media(max-width: 768px)
			width 3rem!important

#personalised
	.container
		height 100%
		padding-top 5rem
	#rings
		width 80px
		@media(max-width: 768px)
			width 60px

	#guest-name
		font-family 'Cedarville Cursive', cursive
		font-size 5rem
		@media(max-width: 768px)
			font-size 3rem
	#guest-intro
		font-size 1.5rem
		@media(max-width: 768px)
			font-size 1.2rem
	#angle-down
		font-size 3rem
		padding-top 2rem
		color #585858

#marriage
	background-image url('/img/dordogne.jpg')
	background-repeat no-repeat
	background-size cover
	background-position center center
	min-height 600px
	.white-on
		color white
		text-shadow 1px 1px 4px #777
	#save-the-date
		font-family 'Cedarville Cursive', cursive
		font-size 6rem
		@media(max-width: 768px)
			font-size 5rem
	#getting-married
		font-size 2.2rem
		@media(max-width: 768px)
			font-size 2rem
	#kb-circle
		background rgba(255,200,73,0.9)
		border-radius 50%
		text-align center
		height 240px
		width 240px
		position relative
		transition 0.5s ease-in-out
		color white
		font-size 1.2rem
		span:first-child
			font-family 'Cedarville Cursive', cursive
			font-size 3rem
			line-height 0.8


#short-info
	background-color #FFC849
	p
		font-size 1.5rem
	#wedding-date
		p
			color white
	.date-large
		p
			font-size 3rem
			@media(max-width: 768px)
				font-size 2.5rem
				margin-bottom 0
				line-height 1
	#date-stacked
		display inline-block
		padding 0 1rem
		border-left 1px solid #3c3b3b
		border-right 1px solid #3c3b3b
		@media(max-width: 768px)
			border-left 0 !important
		p
			font-size 2.5rem
			line-height 1
			margin-bottom 0
			@media(max-width: 768px)
				font-size 2rem
	#bergerac-map
		img
			width 20%
			min-width 200px
	#RSVP
		#complete
			display none
			textarea
				width 100%
				height 200px
				border-radius 5px
				resize vertical
		#comment-received
			display none
	#envelope
		font-size 2rem

.btn-rsvp
	padding 0.4rem 2rem
	@media(max-width: 768px)
		padding 0.2rem 1rem
	
.btn-rsvp2
	@media(min-width 768px)
		max-width 20rem

#wedding-date-mobile
	display none !important

.hidden-load
	visibility: hidden
.hidden-load.animated
		visibility: visible

@media(max-width: 768px)
	#wedding-date-desktop
		display none !important
	#wedding-date-mobile
		display flex !important