extends layout

block content
	nav#header.navbar.navbar-expand-md.fixed-top
		img.navbar-brand.logo(src="/img/logoKB.png")
		ul.navbar-nav.mr-auto
		if id
			a(href="#RSVP")
				button.btn.btn-dark.btn-rsvp(type="button") r.s.v.p
	main
		#personalised
			#butterfly
				img(src="img/butterfly.gif")
			#personalised-content.container.text-center
				img(src="img/rings.png")#rings
				.py-2
				if id
					h1#guest-name #{guestName}
				else
					h1#guest-name Dear Guest
				h2#guest-intro We'd love for you to celebrate with us on our special day
				a(href="#marriage")
					i#angle-down.fas.fa-chevron-down
		#marriage
			#marriage-content.container.text-center
				h1#save-the-date.white-on Save the Date
				h2#getting-married.white-on We're getting married!
				.py-5
				#kb-circle-row.d-flex.flex-column.align-items-center
					#kb-circle.d-flex.flex-column.justify-content-center
						span Kat<br>&<br>Berti
						.py-2
						span 1 June 2019
				.py-5
		#short-info.position-relative
			#decoration
				img.top-right(src="/img/decoration.png")
				img.bottom-left(src="/img/decoration.png")
			.container.position-relative.text-center
				.py-5
				.p-2
					p You're invited to our wedding
				#wedding-date.p-2.hidden-load
					#wedding-date-desktop.d-flex.justify-content-center
						.px-4.date-large
							p JUNE
						.px-4
							#date-stacked
								p SAT<br>1
						.px-4.date-large
							p 2019
					#wedding-date-mobile.d-flex.justify-content-center
						.px-4.align-self-center
							#date-stacked
								p SAT<br>1
						.d-flex.flex-column
							.date-large
								p JUNE
							.date-large
								p 2019
				.p-2
					p Lalinde, Dordogne Region, France
				#bergerac-map.p-2
					a(href="https://goo.gl/maps/nBwZWof8cdn", target="blank")
						img(src="img/bergerac-map.png")
				if id
					#RSVP.p-3
						if rsvp == "UNKNOWN"
							#incomplete
								p#RSVP-text We know it's early days, but by choosing one of the following options you can help us with our plans
								.row
									.col-md.py-2
										button.btn.btn-light.btn-block.btn-rsvp2.float-right(status="accept") Great! Looking forward to it
									.col-md.py-2
										button.btn.btn-light.btn-block.btn-rsvp2.float-left(status="decline") Sorry, I can't make it
							#complete
								p Thanks for letting us know
								p Feel free to leave us a comment:
								#comment-box.d-flex.justify-content-center
									.col-md-5
										textarea 
										button#btn-comment.btn.btn-light.float-right Send Comment
							#comment-received
								.d-flex.justify-content-center
									.col-md-5.alert.alert-success
										strong Sweet!
										|  We've received your comment
						else if rsvp == "ACCEPTED"
							p Great that you think you can make it. More details to come soon.
						else if rsvp == "DECLINED"
							p Sorry you can't make it to the event. Thanks for letting us know.
				.p-4
					p
						a(href="mailto:kathryne.leigh@gmail.com,bertram.jeremy.mueller@gmail.com?Subject=Wedding Questions", target="_top")
							i#envelope.fa.fa-envelope
							| <br>Get in touch with us if you have a question
				.pb-5


block scripts
	script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery-url-parser/2.3.1/purl.min.js")
	script(src="js/jquery.waypoints.min.js")
	script(src="js/index.js")
